/* =========================
   CADASTRO DE PRODUTO
========================= */

.pagina-cadastro-produto {
    min-height: calc(100vh - 70px);

    padding: 40px 20px;

    display: flex;
    justify-content: center;
}

.formulario-produto {
    width: 100%;
    max-width: 950px;

    padding: 30px;

    background: #11111a;

    border-radius: 8px;
}

.formulario-produto h1 {
    margin: 0 0 35px;

    font-size: 22px;
}


/* CONTEÚDO */

.formulario-conteudo {
    display: grid;

    grid-template-columns: 1fr 180px;

    gap: 45px;

    align-items: start;
}


/* CAMPOS */

.campos-produto {
    display: flex;
    flex-direction: column;

    gap: 18px;
}

.campos-produto input,
.campos-produto textarea,
.campos-produto select {
    width: 100%;

    box-sizing: border-box;

    padding: 12px;

    border: none;

    border-radius: 7px;

    background: #f1f5ff;

    color: #222;

    outline: none;
}

.campos-produto textarea {
    height: 95px;

    resize: none;
}


/* LINHAS */

.linha-campos {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}


/* OPÇÕES */

.opcoes-produto {
    display: flex;

    gap: 30px;

    margin-top: 5px;

    font-size: 12px;
}

.opcoes-produto label {
    display: flex;

    align-items: center;

    gap: 7px;

    cursor: pointer;
}


/* UPLOAD */

.upload-produto {
    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 10px;
}

.area-imagem {
    width: 170px;
    height: 170px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 10px;

    background: #f1f5ff;

    color: #777;

    border-radius: 8px;

    cursor: pointer;
}

.area-imagem i {
    font-size: 25px;
}

.area-imagem span {
    font-size: 12px;
}


/* PREVIEW */

.preview-imagem {
    display: none;

    width: 170px;
    height: 170px;

    object-fit: contain;

    border-radius: 8px;
}


/* BOTÃO */

.btn-salvar {
    display: block;

    margin: 40px auto 0;

    padding: 12px 55px;

    border: none;

    border-radius: 5px;

    background: #7c3aed;

    color: white;

    font-weight: bold;

    cursor: pointer;
}

.btn-salvar:hover {
    background: #9333ea;
}


/* RESPONSIVO */

@media (max-width: 700px) {

    .formulario-conteudo {
        grid-template-columns: 1fr;
    }

    .upload-produto {
        order: -1;
    }

    .linha-campos {
        grid-template-columns: 1fr;
    }

}